#container {
    position: absolute;
    top:-50vh;
    padding: 15px;
    background-color: #D0C8FF;
}

#navbarSupportedContent {
    font-family: monospace;
    height: 50px;
    font-size: 18px;
}

#home, #about, #blogs, #create, #resources {
    margin: 6px;
    color: black;
}

#login-btn {
    background-color: #d0444a;
    border-color: transparent;
    color: white;
}

#home:hover, #about:hover, #blogs:hover, #create:hover, #resources:hover, #login-btn:hover {
    background-color: #1992F8;
    border-radius: 5px;
    color: white;
}

